<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title>таблицы оборудования</title>
</head>
<body>
<h1>Талицы оборудования</h1>
<a href="/admin/info-equipment/snowboard"> <button> [Snowboard] </button> </a>  ведет на /admin/info-equipment/snowboard <br>
<a href="/admin/info-equipment/snowboard-boots"> <button> [SnowboardBoots] </button> </a>  ведет на /admin/info-equipment/snowboard-boots<br>
<a href=""> <button> <font color="#a9a9a9"> [Ski] </font> </button> </a>  будет вести на /admin/info-equipment/ski<br>
<a href=""> <button> <font color="#a9a9a9">[SkiBoots]</font> </button> </a>  будет вести на /admin/info-equipment/ski-boots<br>

<br>
<a href="/admin"> <button> назад на main_page</button> </a>



</body>
</html>