<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title th:text="#{main.title.lists_of_equip}">таблицы оборудования</title>
</head>
<body th:align="center">
<h1 th:text="#{main.header.lists_of_equip}">Талицы оборудования</h1>
<a href="/admin/info-equipment/snowboard"> <button style="width: 130px"
                                                   th:text="#{admin.bttn.snowboard}"> Snowboard </button> </a>
<a href="/admin/info-equipment/snowboard-boots"> <button style="width: 170px"
                                                         th:text="#{admin.bttn.snowboardboots}"> Snowboard Boots </button> </a>
<a href="/admin/info-equipment/ski"> <button style="width: 130px"
                                             th:text="#{admin.bttn.ski}"> Ski  </button> </a>
<a href="/admin/info-equipment/ski-boots"> <button style="width: 130px"
                                                   th:text="#{admin.bttn.skiboots}"> Ski Boots </button> </a>
<a href="/admin/info-equipment/jacket"> <button style="width: 130px"
                                                th:text="#{admin.bttn.jacket}"> Jacket </button> </a>  <br><br>
<a href="/admin/info-equipment/knee-protection"> <button style="width: 130px"
                                                         th:text="#{admin.bttn.knee}"> Knee Protection </button> </a>
<a href="/admin/info-equipment/protective-shorts"> <button style="width: 170px"
                                                           th:text="#{admin.bttn.shorts}"> Protective Shorts </button> </a>
<a href="/admin/info-equipment/helmet"> <button style="width: 130px"
                                                th:text="#{admin.bttn.helmets}"> Helmets </button> </a>
<a href="/admin/info-equipment/pants"> <button style="width: 130px"
                                               th:text="#{admin.bttn.pants}"> Pants </button> </a>
<a href="/admin/info-equipment/gloves"> <button style="width: 130px"
                                                th:text="#{admin.bttn.gloves}"> Gloves </button> </a>


<br/>
<br/>
<a href="/admin"> <button th:text="#{admin.bttn.back_to_main}" > назад на main_page</button> </a>



</body>
</html>