<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title>таблицы оборудования</title>
</head>
<body>
<h1>Талицы оборудования</h1>
<a href="/admin/info-equipment/snowboard"> <button> [Snowboard] </button> </a>  ведет на /admin/info-equipment/snowboard <br>
<a href="/admin/info-equipment/snowboard-boots"> <button> [SnowboardBoots] </button> </a>  ведет на /admin/info-equipment/snowboard-boots<br>
<a href="/admin/info-equipment/ski"> <button> [Ski]  </button> </a>  ведет на /admin/info-equipment/ski<br>
<a href="/admin/info-equipment/ski-boots"> <button> [SkiBoots] </button> </a>  ведет на /admin/info-equipment/ski-boots<br>
<a href="/admin/info-equipment/jacket"> <button> [Jacket] </button> </a>  ведет на /admin/info-equipment/jacket <br>
<a href="/admin/info-equipment/knee-protection"> <button> [Knee Protection] </button> </a>  ведет на /admin/info-equipment/knee-protection <br>

<br>
<a href="/admin"> <button> назад на main_page</button> </a>



</body>
</html>