<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admmin main</title>
</head>

<body>
<h1>Administrator main page</h1>
здесь будет:<br>
<nav>
<a href=""> <button> Талицы оборудования </button> </a>
<a href=""> <button> <font color="#a9a9a9"> Талица о клиентах  </font> </button> </a>
<a href=""> <button> <font color="#a9a9a9"> Список райдеров  </font> </button> </a>
<a href="/admin/info-booking"> <button> Сведения о заказах </button> </a> <br>
</nav>
<br>

<a href=""> <button> <font color="#a9a9a9">Заказы на сегодня (пустая ссылка) </font> </button> </a>
<a href=""> <button> <font color="#a9a9a9">Заказы на завтра (пустая ссылка) </font> </button> </a> <br>
<br>

таблица [Неукомплектованные заказы]

<table
       border="1"
       th:cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>тел осн</th>
        <th>тел 2</th>
        <th>когода приедут</th>
        <th>на сколько берут</th>
        <th>количество райдеров</th>
    </tr>
</table>


</body>
</html>