<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admmin main</title>
</head>

<body style="background:peachpuff">
<h1>Administrator main page</h1>
здесь будет:<br>
<nav>
<a href="/admin/info-equipment/"> <button> Талицы оборудования </button> </a>
<a href="/admin/info-clients"> <button> Талица о клиентах </button> </a>
<a href="/admin/info-riders"> <button> Список райдеров  </button> </a>
<a href="/admin/info-booking"> <button> Сведения о заказах </button> </a> <br>
</nav>
<hr>
<br>

<a href="admin/show-tomorrow"> <button> Заказы на сегодня (пустая ссылка) </button> </a>
<a href="admin/show-tomorrow"> <button> Заказы на завтра (пустая ссылка) </button> </a> <br>
<br>

таблица [Неукомплектованные заказы]

<table border="1"
       style="background: lemonchiffon"
       th:cellpadding="10">
    <caption>Неукомплектованные заказы</caption>
    <tr>
        <th>ID</th>
        <th>Фамилия</th>
        <th>тел осн</th>
        <th>тел 2</th>
        <th>когода приедут</th>
        <th>на сколько берут</th>
        <th>количество райдеров</th>
    </tr>
    <tr>

    </tr>
</table>


</body>
</html>