<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ski.add_new.title}">Добавление Лыж</title>
</head>

<body>
<h1 th:text="#{ski.add_new.title}"/>

<form th:method="POST"
      th:action="@{/admin/info_equipment/ski}"
      th:object="${ski}">
    <table>
        <tr>
            <td th:text="#{ski.add_new.table.header.param}"> Параметр</td>
            <td th:text="#{ski.add_new.table.header.input}"> Значение</td>
        </tr>
        <tr>
            <td th:text="#{ski.add_new.table.name}"> Название</td>
            <td><input th:type="text" th:field="*{name}"/>

            </td>
        </tr>

        <tr>
            <td th:text="#{ski.add_new.table.rostovka}"><label for="size"> Ростовка </label></td>
            <td><input th:type="text" th:field="*{size}" id="size"/>

            </td>
        </tr>

        <tr>
            <td th:text="#{ski.add_new.table.available}"> Доступность</td>
            <td>
                <select name="available" th:field="*{available}">
                    <option th:value="1"><a th:text="#{ski.add_new.table.available.true}"/>свободно</option>
                    <option th:value="0"><a th:text="#{ski.add_new.table.available.false}"/>катается</option>
                </select>
            </td>
        </tr>

        <tr>
            <td th:text="#{ski.add_new.table.condition}"> Состояние</td>
            <td><select name="condition">
                <option th:each="i : ${T(com.project.prkt.model.EquipmentCondition).values()}"
                        th:value="${i}" th:text="${i.getDisplayValue()}"> condition should be here
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td th:text="#{ski.add_new.table.stiffness}"> Жесткость</td>
            <td>
                <select name="stiffness">
                    <option th:each="y : ${T(com.project.prkt.model.Ski.Stiffness).values()}"
                            th:value="${y}" th:text="${y.getDisplayValue()}"> stiffness should be here
                    </option>
                </select>
            </td>
        </tr>

        <!--<label for="size"> Ростовка </label>
        <input th:type="text" th:field="*{size}" id="size2"/>
        <div style="color:#9a0a0a" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Size error</div>

    -->

    </table>
    <input type="submit" th:value="#{ski.add_new.table.savebutton}"/> <!--ахуеть это кнопка формы -->
</form>

</body>
</html>