<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ski.edit.title}">Edit Ski</title>
</head>
<body>
<form th:method="PATCH"
      th:action="@{/admin/info_equipment/ski/{id}(id=${ski.getId()})}"
      th:object="${ski}">

    <table>
        <tr>
            <td th:text="#{ski.edit.table.param}"> Параметр </td>
            <td th:text="#{ski.edit.table.input}"> Значение </td>
        </tr>
        <tr>
            <td th:text="#{ski.edit.table.name}"> <label for="name"> Название </label> </td>
            <td> <input type="text" th:field="*{name}" id="name"/> <!--тут не надо th на атрибуте type-->
                <div style="color:#9a0a0a" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
            </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.rostovka}"> <label for="size"> Ростовка </label> </td>
            <td> <input type="text" th:field="*{size}" id="size"/> <!--тут не надо th на атрибуте type-->
                <div style="color:#9a0a0a" th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Name error</div>
            </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.available}">  доступно </td>
            <td> <select th:field="*{available}" >
                        <option th:value="1"> <a th:text="#{ski.edit.table.available.true}"/> свободно</option>
                        <option th:value="0"> <a th:text="#{ski.edit.table.available.false}"/> катается</option>
                  </select>
        </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.condition}"> состояние </td>
            <td> <select name="condition">
                        <option th:each="i : ${T(com.project.prkt.model.EquipmentCondition).values()}"
                                th:value="${i}" th:text="${i}" > condition should be here </option>
                </select>
            </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.stiffness}"> Жесткость </td>
            <td>
                <select name = "stiffness">
                        <option th:each="i : ${T(com.project.prkt.model.Ski.Stiffness).values()}"
                        th:value="${i}" th:text="${i.getDisplayValue()}"> stiffness should be here </option>
                </select>
            </td>
        </tr>


    </table>
    <input type="submit" th:value="#{ski.edit.table.editbutton}"/>
</form>

</body>
</html>