<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ski.edit.title}">Edit Ski</title>
</head>
<body  th:align="center">

<h1 th:text="#{ski.edit.title}">?????</h1>

<form th:method="PATCH"
      th:action="@{/admin/info-equipment/ski/{id}(id=${id})}"
      th:object="${ski}">

    <table th:align="center" style="text-align:left"
           th:cellpadding="2">
        <tr>
            <td th:text="#{ski.edit.table.param}"> Параметр </td>
            <td th:text="#{ski.edit.table.input}"> Значение </td>
        </tr>
        <tr>
            <td th:text="#{ski.edit.table.name}"> <label for="name"> Название </label> </td>
            <td> <input type="text" th:field="*{name}" id="name"/> <!--тут не надо th на атрибуте type-->

                <div style="color:#9a0a0a" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

            </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.rostovka}"> <label for="size"> Ростовка </label> </td>
            <td> <input type="text" th:field="*{size}" id="size"/> <!--тут не надо th на атрибуте type-->
            </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.condition}"> состояние </td>
            <td> <select th:field="*{condition}">
                        <option th:each="i : ${T(com.project.prkt.model.EquipmentCondition).values()}"
                                th:value="${i.name()}"
                                th:text="#{${'equipment_condition.' + i}}"
                                th:selected="${ski.getCondition()}"> condition should be here
                        </option>
                </select>
            </td>
        </tr>
        <tr>
            <td  th:text="#{ski.edit.table.stiffness}"> Жесткость </td>
            <td>
                <select th:field = "*{stiffness}">
                        <option th:each="i : ${T(com.project.prkt.model.Ski.Stiffness).values()}"
                                th:value="${i.name()}"
                                th:text="#{${'ski.stiffness.' + i}}"
                                th:selected="${ski.getCondition()}"> stiffness should be here </option>
                </select>
            </td>
        </tr>


    </table>
    <br/>
    <input type="submit" th:value="#{ski.edit.table.editbutton}"/>
</form>

<br/>

<a href="/admin/info-equipment/ski/"> <button th:text="#{ski.edit.button.return}"> return to ski </button></a>
<a href="/admin"> <button th:text="#{knee_protection.edit.button.go_to_main}"> return to main  </button></a>

</body>
</html>