<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ski.title}">search</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{equipment.search_results}">search</h1>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th th:text="#{ski.table.id}">id</th>
        <th th:text="#{ski.table.name}">name</th>
        <th th:text="#{ski.table.condition}">cond</th>
        <th th:text="#{ski.table.size}">size</th>
        <th th:text="#{ski.table.stiffness}">stfns</th>
        <th></th>
    </tr>
    <tr th:each="oneSki : ${skiByPartOfName}">
        <td th:text="${oneSki.getId()}">id</td>
        <td th:align="left"
            th:text="${oneSki.getName()}">name
        </td>
        <td th:text="#{${'equipment_condition.' + oneSki.getCondition()}}">cond</td>
        <td th:text="#{${'ski.size.' + oneSki.getSize()}}">size</td>
        <td th:text="#{${'ski.stiffness.' + oneSki.getStiffness()}}">stfns</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/ski/edit/{id}(id=${oneSki.getId()})}">
                <button th:text="#{equipment.button.edit}">edit</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/ski/{id}(id=${oneSki.getId()})}">
                <input type="submit" th:value="#{equipment.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Return to "ski/show_all"-->
<a href="/admin/info-equipment/ski/">
    <button th:text="#{ski.go_to_ski}">back</button>
</a>

</body>
</html>