<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ski.show_all.title}">  </title>
</head>
<body th:align="center">

<h1 th:text="#{ski.show_all.h1}"> Cпск всех лыж </h1>

<p>
    <a th:href="@{/admin/info-equipment/ski(lang=ru)}" th:text="Русский">?????</a>
    <a th:href="@{/admin/info-equipment/ski(lang=en)}" th:text="English">?????</a>
</p>

<br/>
<form th:method="GET"
      th:action="@{/admin/info-equipment/ski-boots/search-by-name}">

    <input th:type="text" name="partOfName"
           th:placeholder="#{ski.show_all.search_placeholder}" style="width:200px"/>

    <input type="submit" th:value="#{ski.show_all.search_button}"/>
</form>

<br/>
<br/>

<div>
    <table  th:align="center"
            th:border="1" th:rules="rows"
            th:cellpadding="5" >
        <tr>
            <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                    th:text="#{ski.show_all.table.header.id}" ></a> </th>
            <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                    th:text="#{ski.show_all.table.header.name}" ></a> </th>
            <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                    th:text="#{ski.show_all.table.header.rostovka}"></a> </th>
            <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                    th:text="#{ski.show_all.table.header.free}"> </a> </th>
            <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                    th:text="#{ski.show_all.table.header.condition}" ></a> </th>
            <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
                    th:text="#{ski.show_all.table.header.stiffness}" ></a> </th>
<!--            <th> <a th:text="#{ski.show_all.table.header.edit}"/> </th>-->
<!--            <th> <a th:text="#{ski.show_all.table.header.delete}"/> </th>-->
        </tr>
        <tr th:each="oneSki : ${allSki}">
            <td th:text="${oneSki.getId()}"> id</td>
            <td th:text="${oneSki.getName()}"> name</td>
            <td th:text="${oneSki.getSize()}"> size </td>
            <td th:text="${oneSki.isAvailable()} ? #{ski.show_all.table.available.true} : #{ski.show_all.table.available.false}"> avlblty </td>
            <td th:text="#{${'equipment_condition.' + oneSki.getCondition()}}"> cond </td>
            <td th:text="#{${'ski.stiffness.' + oneSki.getStiffness()}}"> stffns </td>
            <td>
                <a th:href="@{/admin/info-equipment/ski/edit/{id}(id=${oneSki.getId()})}"> <button th:text="#{ski.show_all.table.header.edit}"> изменить </button> </a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/info-equipment/ski/{id}(id=${oneSki.getId()})}"> <input type="submit" th:value="#{ski.show_all.table.header.delete}"> </form>
            </td>
        </tr>

    </table>

</div>
<br/>
<div>
    <a href="/admin/info-equipment/ski/add-new"><button th:text="#{ski.show_all.button.add_new}">добавить новые лыжи</button></a>
</div>
<br/>
<div>
    <a href="/admin/info-equipment"> <button th:text="#{ski.show_all.button.back_to_equip}"> back_to_equip</button> </a>
</div>

</body>
</html>