<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sergei Gavrilov">
  <title th:text="#{gloves.title}"></title>
</head>
<body th:align="center">
<!--Header-->
<h1 th:text="#{gloves.header.edit}">gloves edit</h1>
<!--Table-->
<form th:method="PATCH"
      th:action="@{/admin/info-equipment/gloves/edit/{id}(id=${id})}"
      th:object="${glovesToUpdate}">

  <table th:align="center" style="text-align:left"
         th:cellpadding="2">
    <tr>
      <td th:text="#{gloves.table.name}">ttl</td>
      <td>
        <input type="text" th:field="*{name}"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      </td>
    </tr>
    <tr>
      <td th:text="#{gloves.table.condition}">cond</td>
      <td>
        <select th:field="*{condition}">
          <option th:each="i : ${T(com.project.prkt.model.EquipmentCondition).values()}"
                  th:value="${i.name()}"
                  th:text="#{${'equipment_condition.' + i}}"
                  th:selected="${glovesToUpdate.getCondition()}">cond
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td th:text="#{gloves.table.size}">size</td>
      <td>
        <select th:field="*{size}">
          <option th:each="i : ${T(com.project.prkt.model.Gloves.Size).values()}"
                  th:value="${i}"
                  th:text="${i}"
                  th:selected="${glovesToUpdate.getSize()}">size
          </option>
        </select>
      </td>
    </tr>
  </table>

  <br/>

  <input type="submit" th:value="#{equipment.button.save}"/>
</form>

<br/>
<!--Return to .../gloves-->
<a href="/admin/info-equipment/gloves">
  <button th:text="#{gloves.go_to_gloves}">bck to gloves list bttn </button>
</a>

<!--Return to "/admin"-->
<a href="/admin">
  <button th:text="#{equipment.button.go_to_main}">?????</button>
</a>
</body>
</html>