<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{gloves.search.title}">gloves search</title>
</head>
<body th:align="center">

<h1 th:text="#{gloves.search.title}">gloves search</h1>

<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
  <tr>
    <th th:text="#{gloves.table.id}">id</th>
    <th th:text="#{gloves.table.name}">id</th>
    <th th:text="#{gloves.available}">avlbl</th>
    <th th:text="#{gloves.table.condition}">cond</th>
    <th th:text="#{gloves.size}">size</th>
    <th></th>
  </tr>
  <tr th:each="oneGloves : ${glovesByPartOfName}">
    <td th:text="${oneGloves.getId()}">id</td>
    <td th:align="left"
        th:text="${oneGloves.getName()}">name
    </td>
    <td th:text="${oneGloves.isAvailable()} ? #{gloves.available.true} : #{gloves.available.false}">avlblt</td>
    <td th:text="#{${'equipment_condition.' + oneGloves.getCondition()}}">cond</td>
    <td th:text="${oneGloves.size}">size</td>
    <td th:width="50"></td>
    <td>
      <a th:href="@{/admin/info-equipment/gloves/edit/{id}(id=${oneGloves.getId()})}">
        <button th:text="#{gloves.button.edit}">edit bttn</button>
      </a>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/admin/info-equipment/gloves/{id}(id=${oneGloves.getId()})}">
        <input type="submit" th:value="#{gloves.button.delete}"/>
      </form>
    </td>
  </tr>
</table>

<br/>

<a href="/admin/info-equipment/gloves">
  <button th:text="#{gloves.add_new.button.return}">bck to gloves list bttn </button>
</a>

<br/><br/>

<a href="/admin/info-equipment/">
  <button th:text="#{gloves.show_all.button.return}">back to equip</button>
</a>

<br><br>

<a href="/admin">
  <button th:text="#{gloves.edit.button.go_to_main}">back to admin page</button>
</a>

</body>
</html>