<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title th:text="#{rider.add_new_rider}">new Rider</title>
</head>
<body  th:align="center">
<h1 th:text="#{rider.add_new_rider}"> new rider</h1>
<form th:method="POST"
      th:object="${newRider}"
      th:action="${bookingId == null} ? '/admin/info-riders/add' : '/admin/info-riders/add?id=' + ${bookingId}">

    <table th:align="center" style="text-align:left"
           th:cellpadding="2">
        <tr>
            <td th:text="#{rider.name}"> Имя </td>
            <td> <input th:type="text" th:field="*{name}"/>
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">?????</div>
            </td>
        </tr>

        <tr>
            <td th:text="#{rider.sex}"> Пол </td>
            <td><select name="sex">
                <option th:each="s : ${T(com.project.prkt.model.Rider.Sex).values()}"
                        th:value="${s.name()}"
                        th:text="#{${'rider.sex.'+ s}}"> sex should be here
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td th:text="#{rider.height}"> Рост </td>
            <td><input th:type="text" th:field="*{height}"/>
                <div style="color:red" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">?????</div></td>
        </tr>

        <tr>
            <td th:text="#{rider.weight}"> Вес </td>
            <td><input th:type="text" th:field="*{weight}"/>
                <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">?????</div>
            </td>
        </tr>

        <tr>
            <td th:text="#{rider.foot}"> Размер ноги </td>
            <td><select name="foot">
                <option th:each="f : ${T(com.project.prkt.model.Rider.Size).values()}"
                        th:value="${f.name()}"
                        th:text="#{${'rider.size.' + f}}"> foot size should be here
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td th:text="#{rider.newlist}"> <br  th:text="#{rider.ofequip}"> </td>
            <td>
                <div th:each="equip : ${T(com.project.prkt.model.TypesOfEquipment).values()}">

                    <input th:field="*{equipmentNeededIds}"
                           type="checkbox"
                           th:value="${equip.name()}" />
                    <span th:text="#{${'equipment.type.' + equip}}">INGREDIENT</span><br />
                </div>

            </td>
        </tr>


    </table>

    <br/>

    <input type="submit" th:value="#{rider.save}"/>

</form>

<br>

<!--button back to booking-->
<div th:if="${bookingId != null}">
    <form th:method="GET"
          th:action="@{/admin/info-booking/edit/{id}(id=${bookingId})}">
        <input type="submit" th:value="#{rider.back_to_cur_order}">
    </form>

    <br>

    <form th:method="GET"
          th:action="@{/admin/info-booking}">
        <input type="submit" th:value="#{rider.back_to_list_of_bookings}">
    </form>
</div>

<div th:if="${bookingId == null}">

    <form th:method="GET"
          th:action="@{/admin/info-riders}">
        <input type="submit" th:value="#{rider.back_to_list_of_riders}">
    </form>
</div>

</body>
</html>