<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title>new Rider</title>
</head>
<body  th:align="center">
<form th:method="POST"
      th:action="@{'/admin/info-riders/add?id=' + ${bookingId}}"
      th:object="${newRider}">
    <table th:align="center" style="text-align:left"
           th:cellpadding="2">
        <tr>
            <td> Имя </td>
            <td> <input th:type="text" th:field="*{name}"/> </td>
        </tr>

        <tr>
            <td> Пол </td>
            <td><select name="sex">
                <option th:each="s : ${T(com.project.prkt.model.Rider.Sex).values()}"
                        th:value="${s}" th:text="${s}"> sex should be here
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td> Рост </td>
            <td><input th:type="text" th:field="*{height}"/></td>
        </tr>

        <tr>
            <td> Вес </td>
            <td><input th:type="text" th:field="*{weight}"/></td>
        </tr>

        <tr>
            <td> Размер ноги </td>
            <td><select name="foot">
                <option th:each="f : ${T(com.project.prkt.model.Rider.Size).values()}"
                        th:value="${f}" th:text="${f}"> foot size should be here
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td> fckn sht</td>
            <td>
                <div th:each="equip : ${T(com.project.prkt.model.TypesOfEquipment).values()}">

                    <input th:field="*{equipmentNeededIds}"
                           type="checkbox"
                           th:value="${equip}" />
                    <span th:text="${equip.name()}">INGREDIENT</span><br />
                </div>

            </td>
        </tr>


    </table>

    <br/>

    <input type="submit" value="сохранить"/>

</form>

<br>

<form th:method="GET"
      th:action="@{/admin/info-booking}">
    <input type="submit" value="выйти в список броней">
</form>


</body>
</html>