<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Rider</title>
</head>

<body>
<form th:method="PATCH"
      th:action="@{/admin/info-riders/edit/{id}(id=${riderToBeUpdated.getId()})}"
      th:object="${riderToBeUpdated}">
  <table>
                                              <!--name-->
    <tr>
      <td> Имя </td>
      <td>
        <input type="text" th:field="*{name}" id="name"> </td>
    </tr>
                                              <!--sex-->
    <tr>
      <td> Пол </td>
      <td>
        <select th:field="*{sex}">
          <option th:each="s : ${T(com.project.prkt.model.Rider.Sex).values()}"
                th:value="${s}"
                th:text="${s}"
                th:selected="${riderToBeUpdated.getSex()}"> sex should be here
          </option>
      </select>
      </td>
    </tr>

    <tr>
      <td> Рост </td>
      <td><input type="text" th:field="*{height}"/></td>
    </tr>

    <tr>
      <td> Вес </td>
      <td><input type="text" th:field="*{weight}"/></td>
    </tr>
                                            <!--foot size-->
    <tr>
      <td>
        Размер ноги
      </td>
      <td>
        <select name="foot">
          <option th:each="f : ${T(com.project.prkt.model.Rider.Size).values()}"
                  th:value="${f}" th:text="${f}"
                  th:selected="${riderToBeUpdated.getFoot()}"> foot size should be here
          </option>
        </select>
      </td>
    </tr>
                                     <!--previous equipment set-->
    <tr>
      <td>
        список оборудования <br> выбранного ранее:
      </td>
      <td>
          <span th:each="oneFromNeeded : ${riderToBeUpdated.getEquipmentNeededIds()}">
              <a th:text="${oneFromNeeded.name}" ></a><br>
          </span>
      </td>
    </tr>
                              <!-- new checkbox set for equipment-->
    <tr>
        <td>
            новый список <br> оборудования:
        </td>
        <td>
            <div th:each="oneFromEnum : ${T(com.project.prkt.model.TypesOfEquipment).values()}">

               <input field="*{equipmentNeededIds}"
                     type="checkbox"
                     th:value="${oneFromEnum}"
                     th:text="${oneFromEnum.name()}">  checked
               </input>

            </div>
        </td>
    </tr>


  </table>

  <input type="submit" value="сохранить"/>

</form>
<br>
<form th:method="GET"
      th:action="@{/admin/info-booking}">
  <input type="submit" value="выйти в список броней">
</form>
<form th:method="GET"
      th:action="@{/admin/info-booking/edit/{id}(id=${bookingId})}">
    <input type="submit" value="выйти в текущий заказ">
</form>


</body>


</html>