<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title th:text="#{rider.header.edit}">Edit Rider</title>
</head>

<h1 th:text="#{rider.header.edit}"> Изменение данных райдера</h1>

<body th:align="center">
<form th:method="PATCH"
      th:action="${bookingId == null} ? '/admin/info-riders/edit/' + ${idOfRider}
                    : '/admin/info-riders/edit/' + ${idOfRider} + '?bookingid=' + ${bookingId}"
      th:object="${riderToBeUpdated}">
  <table th:align="center" style="text-align:left"
         th:cellpadding="2">
                                              <!--name-->
    <tr>
      <td th:text="#{rider.name}"> Имя </td>
      <td>
        <input type="text" th:field="*{name}" id="name">
          <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">?????</div>
      </td>
    </tr>
                                              <!--sex-->
    <tr>
      <td  th:text="#{rider.sex}"> Пол </td>
      <td>
        <select th:field="*{sex}">
          <option th:each="s : ${T(com.project.prkt.model.Rider.Sex).values()}"
                th:value="${s.name()}"
                th:text="#{${'rider.sex.' + s}}"
                th:selected="${riderToBeUpdated.getSex()}"> sex should be here
          </option>
      </select>
      </td>
    </tr>
                                                <!--height-->
    <tr>
      <td th:text="#{rider.height}"> Рост </td>
      <td><input type="text" th:field="*{height}"/>
          <div style="color:red" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">?????</div>
      </td>
    </tr>
                                                 <!--weight-->
    <tr>
      <td th:text="#{rider.weight}"> Вес </td>
      <td><input type="text" th:field="*{weight}"/>
          <div style="color:red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">?????</div>
      </td>
    </tr>
                                            <!--foot size-->
    <tr>
      <td th:text="#{rider.foot}">
        Размер ноги
      </td>
      <td>
        <select th:field="*{foot}">
          <option th:each="f : ${T(com.project.prkt.model.Rider.Size).values()}"
                  th:value="${f.name()}"
                  th:text="#{${'rider.size.' + f}}"
                  th:selected="${riderToBeUpdated.getFoot()}"> foot size should be here
          </option>
        </select>
      </td>
    </tr>
                                     <!--previous equipment set-->
<!--    <tr>-->
<!--      <td>-->
<!--        список оборудования <br> выбранного ранее:-->
<!--      </td>-->
<!--      <td>-->
<!--          <span th:each="oneFromNeeded : ${riderToBeUpdated.getEquipmentNeededIds()}">-->
<!--              <a th:text="${oneFromNeeded.name}" ></a><br>-->
<!--          </span>-->
<!--      </td>-->
<!--    </tr>-->
                              <!-- new checkbox set for equipment-->
    <tr>
        <td valign="top"
            th:text="#{rider.newlist}">
            Новый список <br th:text="#{rider.ofequip}"> оборудования:
        </td>
        <td>
            <div th:each="oneFromEnum : ${T(com.project.prkt.model.TypesOfEquipment).values()}">

               <input th:field="*{equipmentNeededIds}"
                     type="checkbox"
                     th:value="${oneFromEnum.name()}"/>
                <span th:text="#{${'equipment.type.' + oneFromEnum}}">  checked </span>

            </div>
        </td>
    </tr>
  </table>

<br/>

  <input type="submit" th:value="#{rider.save}"/>

</form>

<br>
<!--back to order -->
<div th:if="${bookingId != null}">
    <form   th:method="GET"
            th:action="@{/admin/info-booking/edit/{id}(id=${bookingId})}">
        <input type="submit" th:value="#{rider.back_to_cur_order}">
    </form>
</div>

<br/>
<!--back to list of riders-->
<div th:if="${bookingId == null}">
    <form th:method="GET"
          th:action="@{/admin/info-riders}">
        <input type="submit" th:value="#{rider.back_to_list_of_riders}">
    </form>
</div>

</body>
</html>