<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Rider</title>
</head>

<body>
<form th:method="PATCH"
      th:action="@{/admin/info-riders/edit/{id}(id=${riderToBeUpdated.getId()})}"
      th:object="${riderToBeUpdated}">
  <table>
    <tr>
      <td> Имя </td>
      <td>
        <input type="text" th:field="*{name}" id="name"> </td>
    </tr>

    <tr>
      <td> Пол </td>
      <td><select name="sex">
        <option th:each="s : ${T(com.project.prkt.model.Rider.Sex).values()}"
                th:value="${s}" th:text="${s}"> sex should be here
        </option>
      </select>
      </td>
    </tr>

    <tr>
      <td> Рост </td>
      <td><input type="text" th:field="*{height}"/></td>
    </tr>

    <tr>
      <td> Вес </td>
      <td><input type="text" th:field="*{weight}"/></td>
    </tr>

    <tr>
      <td> Размер ноги </td>
      <td><select name="foot">
        <option th:each="f : ${T(com.project.prkt.model.Rider.Size).values()}"
                th:value="${f}" th:text="${f}"> foot size should be here
        </option>
      </select>
      </td>
    </tr>
    <!--<tr>
      <td> fck</td>
      <td><select name="equipmentNeeded">
        <option th:each="r : ${T(com.project.prkt.model.TypesOfEquipment).values()}"
                th:value="${r}"
                th:text="${r}"
                th:selected="${riderToBeUpdated.getEquipmentNeeded()}"> equip needed
        </option>
      </select>
    </tr>-->
    <tr>
      <td> fckn sht</td>
      <td>
        <div th:each="equip : ${T(com.project.prkt.model.TypesOfEquipment).values()}">
          <input field="*{equipmentNeededIds}"
                 type="checkbox"
                 th:value="${equip}"/>
                <!-- th:checked="${equipmentNeededId}"-->
           <span  th:text="${equip.name()}">EQUIP</span><br />
        </div>

      </td>
    </tr>


  </table>

  <input type="submit" value="сохранить"/>

</form>
<br>
<form th:method="GET"
      th:action="@{/admin/info-booking}">
  <input type="submit" value="выйти в список броней">
</form>


</body>


</html>