<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sergei Gavrilov">
    <title>All riders</title>
</head>
<body>
<table  border="1" >
    <tr>
        <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"> ID </a> </th>
        <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"> Имя </a> </th>
        <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"> Рост </a> </th>
        <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"> Вес </a> </th>
        <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"> пол </a> </th>
        <th> <a th:href="@{'/admin/info_equipment/ski/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"> Размер ноги </a> </th>
        <th> edit </th>
        <th> delete</th>
    </tr>

<tr th:each="oneRider : ${allRiders}">
    <td th:text="${oneRider.getId()}"> id </td>
    <td th:text="${oneRider.getName()}"> name </td>
    <td th:text="${oneRider.getHeight()}"> Height </td>
    <td th:text="${oneRider.getWeight()}"> Weight </td>
    <td th:text="${oneRider.getSex()}"> Sex </td>
    <td th:text="${oneRider.getFoot()}"> Foot Size </td>
    <td>
        <a th:href="@{'/admin/info-riders/edit?id=' + ${oneRider.getId()}}"> <button> изменить </button> </a>
    </td>
    <td>
        <form th:method="DELETE" th:action="@{/admin/info-riders/{id}(id=${oneRider.getId()})}"> <input type="submit" value="УДАЛИТЬ"> </form>
    </td>

</tr>
</table>


</body>
</html>