<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{booking.add_new.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{booking.add_new.header}">?????</h1>

<!--Input parameters-->
<form th:method="PUT"
      th:action="@{/client/booking/add-snowboard/{id}(id=${bookingId})}"
      th:object="${newSnowboard}">

    <select name="snowboardId">
        <option th:each="i : ${availableSnowboards}"
                th:value="${i.getId}"
                th:text="${i.getId()} + ' ' +
                            ${i.getName()} + ' ' +
                            #{${'equipment_condition.' + i.getCondition()}} + ' ' +
                            ${i.getSize()} + ' ' +
                            #{${'snowboard.stiffness.' + i.getStiffness()}} + ' ' +
                            #{${'snowboard.arch.' + i.getArch()}} + ' ' +
                            ${i.getBindingSize()}">
        </option>
    </select>
    <input type="submit" th:value="#{booking.add_new.button.add_snowboard}"/>
</form>

<br/>

<!--Return to "booking/show_all"-->
<a href="/client/booking">
    <button th:text="#{booking.add_new.button.return}">?????</button>
</a>

</body>
</html>