<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{booking.show_one.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{booking.show_one.header}">?????</h1>

<!--Input parameters-->
<form th:method="POST"
      th:action="@{/admin/info-booking}"
      th:object="${bookingFound}">

    <table th:align="center" style="text-align:left"
           th:cellpadding="2">
        <tr>
            <td th:text="#{booking.show_one.field.id}">?????</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td th:text="#{booking.show_one.field.booking_surname}">?????</td>
            <td th:text="*{bookingSurname}"></td>
        </tr>
        <tr>
            <td th:text="#{booking.show_one.field.phone1}">?????</td>
            <td th:text="*{phone1}"></td>
        </tr>
        <tr>
            <td th:text="#{booking.show_one.field.phone2}">?????</td>
            <td th:text="*{phone2}"></td>
        </tr>
        <tr>
            <td th:text="#{booking.show_one.field.date_of_arrival}">?????</td>
            <td th:text="${#dates.format(bookingFound.dateOfArrival, 'dd MMM yyyy')}"></td>
        </tr>
        <tr>
            <td th:text="#{booking.show_one.field.date_of_return}">?????</td>
            <td th:text="${#dates.format(bookingFound.dateOfReturn, 'dd MMM yyyy')}"></td>
        </tr>
        <tr>
            <td th:text="Snowboards">?????</td>
            <td th:text="${bookingFound.getListOfSnowboards()}"></td>
        </tr>
    </table>
</form>

<br/>

<!--List of Snowboards-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th><a th:text="#{snowboard.show_all.table.header.id}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.name}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.available}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.condition}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.size}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.stiffness}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.arch}">?????</a></th>
        <th><a th:text="#{snowboard.show_all.table.header.binding_size}">?????</a></th>
        <th></th>
    </tr>
    <tr th:each="oneSnowboard : ${bookingFound.getListOfSnowboards()}">
        <td th:text="${oneSnowboard.getId()}">?????</td>
        <td th:align="left"
            th:text="${oneSnowboard.getName()}">?????
        </td>
        <td th:text="${oneSnowboard.isAvailable()} ? #{snowboard.available.true} : #{snowboard.available.false}">?????</td>
        <!--notice that - #{snowboard_boots.available.true} is written without th:text=-->
        <!--probably because a String is already expected-->
        <td th:text="#{${'equipment_condition.' + oneSnowboard.getCondition()}}">?????</td>
        <td th:text="${oneSnowboard.getSize()}">?????</td>
        <td th:text="#{${'snowboard.stiffness.' + oneSnowboard.getStiffness()}}">?????</td>
        <td th:text="#{${'snowboard.arch.' + oneSnowboard.getArch()}}">?????</td>
        <td th:text="${oneSnowboard.getBindingSize()}">?????</td>
        <td th:width="50"></td>
<!--        <td>-->
<!--            <a th:href="@{/admin/info-equipment/snowboard/edit/{id}(id=${oneSnowboard.getId()})}">-->
<!--                <button th:text="#{snowboard.show_all.table.button.edit}">?????</button>-->
<!--            </a>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:method="DELETE" th:action="@{/admin/info-equipment/snowboard/{id}(id=${oneSnowboard.getId()})}">-->
<!--                <input type="submit" th:value="#{snowboard.show_all.table.button.delete}"/>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
</table>

<br/>

<!--Return to "booking/show_all"-->
<a href="/admin/info-booking">
    <button th:text="#{booking.show_one.button.return}">?????</button>
</a>

</body>
</html>