<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{snowboard.search.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{snowboard.search.header}">?????</h1>

<br/>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th th:text="#{snowboard.search.table.header.id}">?????</th>
        <th th:text="#{snowboard.search.table.header.name}">?????</th>
        <th th:text="#{snowboard.search.table.header.available}">?????</th>
        <th th:text="#{snowboard.search.table.header.condition}">?????</th>
        <th th:text="#{snowboard.search.table.header.size}">?????</th>
        <th th:text="#{snowboard.search.table.header.stiffness}">?????</th>
        <th th:text="#{snowboard.search.table.header.arch}">?????</th>
        <th th:text="#{snowboard.search.table.header.binding_size}">?????</th>
        <th></th>
    </tr>
    <tr th:each="oneSnowboard : ${snowboardsByPartOfName}">
        <td th:text="${oneSnowboard.getId()}">?????</td>
        <td th:align="left"
            th:text="${oneSnowboard.getName()}">?????
        </td>
        <td th:text="${oneSnowboard.isAvailable()} ? #{snowboard.available.true} : #{snowboard.available.false}">?????</td>
        <td th:text="#{${'equipment_condition.' + oneSnowboard.getCondition()}}">?????</td>
        <td th:text="${oneSnowboard.getSize()}">?????</td>
        <td th:text="#{${'snowboard.stiffness.' + oneSnowboard.getStiffness()}}">?????</td>
        <td th:text="#{${'snowboard.arch.' + oneSnowboard.getArch()}}">?????</td>
        <td th:text="${oneSnowboard.getBindingSize()}">?????</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/snowboard/edit/{id}(id=${oneSnowboard.getId()})}">
                <button th:text="#{snowboard.search.table.button.edit}">?????</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/snowboard/{id}(id=${oneSnowboard.getId()})}">
                <input type="submit" th:value="#{snowboard.search.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Return to "snowboard/show_all"-->
<a href="/admin/info-equipment/snowboard/">
    <button th:text="#{snowboard.search.button.return}">?????</button>
</a>

</body>
</html>