<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nikolai Khriapov">
    <title th:text="#{snowboard.show_all.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{snowboard.show_all.header}">?????</h1>

<!--Search-->
<form th:method="GET"
      th:action="@{/admin/info-equipment/snowboard/search-by-name}">

    <input th:type="text" th:name="partOfName"
           th:placeholder="#{snowboard.show_all.search_placeholder}" style="width:200px"/>

    <input type="submit" th:value="#{snowboard.show_all.search_button}"/>
</form>

<br/>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.id}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.name}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.condition}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.size}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=stiffness&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.stiffness}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=arch&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.arch}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/snowboard/sort?parameter=bindingSize&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{snowboard.show_all.table.header.binding_size}">?????</a>
        </th>
        <th></th>
    </tr>
    <tr th:each="oneSnowboard : ${allSnowboards}">
        <td th:text="${oneSnowboard.getId()}">?????</td>
        <td th:align="left"
            th:text="${oneSnowboard.getName()}">?????
        </td>
        <td th:text="#{${'equipment_condition.' + oneSnowboard.getCondition()}}">?????</td>
        <td th:text="${oneSnowboard.getSize()}">?????</td>
        <td th:text="#{${'snowboard.stiffness.' + oneSnowboard.getStiffness()}}">?????</td>
        <td th:text="#{${'snowboard.arch.' + oneSnowboard.getArch()}}">?????</td>
        <td th:text="${oneSnowboard.getBindingSize()}">?????</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/snowboard/edit/{id}(id=${oneSnowboard.getId()})}">
                <button th:text="#{snowboard.show_all.table.button.edit}">?????</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/snowboard/{id}(id=${oneSnowboard.getId()})}">
                <input type="submit" th:value="#{snowboard.show_all.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Add new-->
<a href="/admin/info-equipment/snowboard/add-new">
    <button th:text="#{snowboard.show_all.button.add_new}">?????</button>
</a>

<br/><br/>

<!--Return to list of equipment-->
<a href="/admin/info-equipment">
    <button th:text="#{snowboard.show_all.button.return_to_equipment}">?????</button>
</a>

<!--Return to main-->
<a href="/admin">
    <button th:text="#{snowboard.show_all.button.return_to_main}">?????</button>
</a>

</body>
</html>