<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Sergei Gavrilov">
  <title th:text="#{helmet.add_new.title}">Добавление шлема</title>
</head>

<body  th:align="center">
<h1 th:text="#{helmet.add_new_header}"> </h1>

<!--Input parameters-->
<form th:method="POST"
      th:action="@{/admin/info-equipment/helmet}"
      th:object="${helmet}">

  <table th:align="center" style="text-align:left"
         th:cellpadding="2">
    <tr>
      <td th:text="#{helmet.table.name}"> Название</td>
      <td><input th:type="text" th:field="*{name}"/>

        <div style="color:#9a0a0a" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

      </td>
    </tr>

    <tr>
      <td th:text="#{helmet.table.size}"> размер </td>
      <td>
        <select name="size">
          <option th:each="s : ${T(com.project.prkt.model.Helmet.Size).values()}"
                  th:value="${s.name}"
                  th:text="${s.name}"> size should be here
          </option>
        </select>
      </td>
    </tr>

    <tr>
      <td th:text="#{helmet.table.condition}"> Состояние </td>
      <td><select name="condition">
        <option th:each="i : ${T(com.project.prkt.model.EquipmentCondition).values()}"
                th:value="${i.name()}"
                th:text="#{${'equipment_condition.' + i}}"> condition should be here
        </option>
      </select>
      </td>
    </tr>

  </table>

  <br/>

  <input type="submit" th:value="#{helmet.button.add_new}"/>
</form>


<br/>
<!--Return to "helmet/show_all"-->
<a href="/admin/info-equipment/helmet/">
  <button th:text="#{equipment.button.return}">?????</button>
</a>

</body>
</html>