<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{helmet.add_new.title}">Добавление шлема</title>
</head>

<body  th:align="center">
<h1 th:text="#{helmet.add_new.title}"> </h1>
<form th:method="POST"
      th:action="@{/admin/info-equipment/helmet}"
      th:object="${helmet}">
  <table th:align="center"
         th:border="1" th:rules="rows"
         th:cellpadding="5">
    <tr>
      <td th:text="#{helmet.add_new.table.header.param}"> Параметр</td>
      <td th:text="#{helmet.add_new.table.header.input}"> Значение</td>
    </tr>
    <tr>
      <td th:text="#{helmet.add_new.table.name}"> Название</td>
      <td><input th:type="text" th:field="*{name}"/>

        <div style="color:#9a0a0a" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

      </td>
    </tr>

    <tr>
      <td th:text="#{helmet.add_new.table.rostovka}"> Ростовка </td>
      <td>
        <select name="size">
          <option th:each="s : ${T(com.project.prkt.model.Helmet.Size).values()}"
                  th:value="${s.name}"
                  th:text="${s.name}"> size should be here
          </option>
        </select>
      </td>
    </tr>

    <tr>
      <td th:text="#{helmet.add_new.table.condition}"> Состояние</td>
      <td><select name="condition">
        <option th:each="i : ${T(com.project.prkt.model.EquipmentCondition).values()}"
                th:value="${i.name()}"
                th:text="#{${'equipment_condition.' + i}}"> condition should be here
        </option>
      </select>
      </td>
    </tr>

  </table>
  <br/>
  <input type="submit" th:value="#{helmet.add_new.table.savebutton}"/> <!--ахуеть это кнопка формы -->
</form>
<br/>


<a href="/admin/info-equipment/helmet/">
  <button th:text="#{helmet.add_new.button.return}">back to helmets button</button>
</a>

</body>
</html>