<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{helmet.search.title}">helmet search</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{helmet.search.title}">helmet search</h1>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
  <tr>
    <th th:text="#{helmet.show_all.table.header.id}">?????</th>
    <th th:text="#{helmet.show_all.table.header.name}">?????</th>
    <th th:text="#{helmet.show_all.table.header.free}">?????</th>
    <th th:text="#{helmet.show_all.table.header.condition}">?????</th>
    <th th:text="#{helmet.show_all.table.header.size}">?????</th>
    <th></th>
  </tr>
  <tr th:each="oneHelmet : ${helmetByPartOfName}">
    <td th:text="${oneHelmet.getId()}">?????</td>
    <td th:align="left"
        th:text="${oneHelmet.getName()}">?????
    </td>
    <td th:text="${oneHelmet.isAvailable()} ? #{helmet.show_all.table.available.true} : #{helmet.show_all.table.available.false}">?????</td>
    <td th:text="#{${'equipment_condition.' + oneHelmet.getCondition()}}">?????</td>
    <td th:text="${oneHelmet.size}">?????</td>
    <td th:width="50"></td>
    <td>
      <a th:href="@{/admin/info-equipment/helmet/edit/{id}(id=${oneHelmet.getId()})}">
        <button th:text="#{helmet.show_all.table.header.edit}">edit bttn</button>
      </a>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/admin/info-equipment/helmet/{id}(id=${oneHelmet.getId()})}">
        <input type="submit" th:value="#{helmet.show_all.table.header.delete}"/>
      </form>
    </td>
  </tr>
</table>

<br/>

<!--Return to "ski/show_all"-->
<a href="/admin/info-equipment/helmet/">
  <button th:text="#{helmet.edit.button.return}">back to helmets bttn</button>
</a>

</body>
</html>