<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{helmet.title}"></title>
</head>
<body th:align="center">
<!--Header-->
<h1 th:text="#{header.header.show_all}"> all helmets list </h1>

<br/>
<!--Search-->
<form th:method="GET"
      th:action="@{/admin/info-equipment/helmet/search-by-name}">

  <input th:type="text" name="partOfName"
         th:placeholder="#{equipment.search_placeholder}" style="width:200px"/>

  <input type="submit" th:value="#{equipment.search_button}"/>
</form>

<br/>

<div>
  <table th:align="center"
         th:border="1" th:rules="rows"
         th:cellpadding="5">
    <tr>
      <th>
        <a th:href="@{'/admin/info-equipment/helmet/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
           th:text="#{helmet.table.id}"></a></th>
      <th>
        <a th:href="@{'/admin/info-equipment/helmet/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
           th:text="#{helmet.table.name}"></a></th>
      <th>
        <a th:href="@{'/admin/info-equipment/helmet/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"
           th:text="#{helmet.table.size}"></a></th>
      <th>
        <a th:href="@{'/admin/info-equipment/helmet/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
           th:text="#{helmet.table.condition}"></a></th>

    </tr>
    <tr th:each="oneHelmet : ${allHelmet}">
      <td th:text="${oneHelmet.getId()}"> id</td>
      <td th:text="${oneHelmet.getName()}"> name</td>
      <td th:text="${oneHelmet.getSize()}"> size</td>
      <td th:text="#{${'equipment_condition.' + oneHelmet.getCondition()}}"> cond</td>
      <td>
        <a th:href="@{/admin/info-equipment/helmet/edit/{id}(id=${oneHelmet.getId()})}">
          <button th:text="#{equipment.button.edit}"> изменить</button>
        </a>
      </td>
      <td>
        <form th:method="DELETE" th:action="@{/admin/info-equipment/helmet/{id}(id=${oneHelmet.getId()})}">
          <input type="submit" th:value="#{equipment.button.delete}"></form>
      </td>
    </tr>

  </table>

</div>
<br/>
<div>
  <a href="/admin/info-equipment/helmet/add-new">
    <button th:text="#{helmet.button.add_new}">add new helmet button</button>
  </a>
</div>

<br/><br/>

<!--Return to list of equipment-->
<a href="/admin/info-equipment">
  <button th:text="#{equipment.button.go_to_equipment}">?????</button>
</a>

<!--Return to main-->
<a href="/admin">
  <button th:text="#{equipment.button.go_to_main}">?????</button>
</a>


</body>
</html>