<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{pants.search.title}">pants search</title>
</head>
<body th:align="center">

<h1 th:text="#{pants.search.title}">pants search</h1>

<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
  <tr>
    <th th:text="#{pants.show_all.table.header.id}">id</th>
    <th th:text="#{pants.show_all.table.header.name}">id</th>
    <th th:text="#{pants.show_all.table.header.condition}">cond</th>
    <th th:text="#{pants.show_all.table.header.size}">size</th>
    <th></th>
  </tr>
  <tr th:each="onePants : ${pantsByPartOfName}">
    <td th:text="${onePants.getId()}">id</td>
    <td th:align="left"
        th:text="${onePants.getName()}">name
    </td>
    <td th:text="#{${'equipment_condition.' + onePants.getCondition()}}">cond</td>
    <td th:text="${onePants.size}">size</td>
    <td th:width="50"></td>
    <td>
      <a th:href="@{/admin/info-equipment/pants/edit/{id}(id=${onePants.getId()})}">
        <button th:text="#{pants.show_all.table.button.edit}">edit bttn</button>
      </a>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/admin/info-equipment/pants/{id}(id=${onePants.getId()})}">
        <input type="submit" th:value="#{pants.show_all.table.button.delete}"/>
      </form>
    </td>
  </tr>
</table>

<br/>

<a href="/admin/info-equipment/pants/">
  <button th:text="#{pants.add_new.button.return}">back to pants bttn</button>
</a>

</body>
</html>