<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pants.show_all.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{pants.show_all.title}">?????</h1>

<!--Search-->
<form th:method="GET"
      th:action="@{/admin/info-equipment/pants/search-by-name}">

    <input th:type="text" th:name="partOfName"
           th:placeholder="#{pants.show_all.search_placeholder}" style="width:200px"/>

    <input type="submit" th:value="#{pants.show_all.search_button}"/>
</form>

<br/>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th>
            <a th:href="@{'/admin/info-equipment/pants/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{pants.show_all.table.header.id}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/pants/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{pants.show_all.table.header.name}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/pants/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{pants.show_all.table.header.condition}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/pants/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{pants.show_all.table.header.size}">?????</a>
        </th>
        <th></th>
    </tr>
    <tr th:each="onePants : ${allPants}">
        <td th:text="${onePants.getId()}">id</td>
        <td th:align="left"
            th:text="${onePants.getName()}">name
        </td>
        <td th:text="#{${'equipment_condition.' + onePants.getCondition()}}">cond</td>
        <td th:text="${onePants.getSize()}">size</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/pants/edit/{id}(id=${onePants.getId()})}">
                <button th:text="#{pants.show_all.table.button.edit}">edit bttn</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/pants/{id}(id=${onePants.getId()})}">
                <input type="submit" th:value="#{pants.show_all.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<a href="/admin/info-equipment/pants/add-new">
    <button th:text="#{pants.show_all.button.add_new}">addnew bttn</button>
</a>

<br/><br/>

<!--Return to list of equipment-->
<a href="/admin/info-equipment">
    <button th:text="#{equipment.button.go_to_equipment}">?????</button>
</a>

<!--Return to main-->
<a href="/admin">
    <button th:text="#{equipment.button.go_to_main}">?????</button>
</a>


</body>
</html>