<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ski_boots.search.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{ski_boots.search.header}">?????</h1>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th th:text="#{ski_boots.search.table.header.id}">?????</th>
        <th th:text="#{ski_boots.search.table.header.name}">?????</th>
        <th th:text="#{ski_boots.search.table.header.available}">?????</th>
        <th th:text="#{ski_boots.search.table.header.condition}">?????</th>
        <th th:text="#{ski_boots.search.table.header.size}">?????</th>
        <th th:text="#{ski_boots.search.table.header.stiffness}">?????</th>
        <th></th>
    </tr>
    <tr th:each="oneSkiBoots : ${skiBootsByPartOfName}">
        <td th:text="${oneSkiBoots.getId()}">?????</td>
        <td th:align="left"
            th:text="${oneSkiBoots.getName()}">?????
        </td>
        <td th:text="${oneSkiBoots.isAvailable()} ? #{ski_boots.available.true} : #{ski_boots.available.false}">?????</td>
        <td th:text="#{${'equipment_condition.' + oneSkiBoots.getCondition()}}">?????</td>
        <td th:text="#{${'ski_boots.size.' + oneSkiBoots.getSize()}}">?????</td>
        <td th:text="#{${'ski_boots.stiffness.' + oneSkiBoots.getStiffness()}}">?????</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/ski-boots/edit/{id}(id=${oneSkiBoots.getId()})}">
                <button th:text="#{ski_boots.search.table.button.edit}">?????</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/ski-boots/{id}(id=${oneSkiBoots.getId()})}">
                <input type="submit" th:value="#{ski_boots.search.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Return to "ski_boots/show_all"-->
<a href="/admin/info-equipment/ski-boots/">
    <button th:text="#{ski_boots.search.button.return}">?????</button>
</a>

</body>
</html>