<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>

In progress...
<br/>

<p th:text="${'id: ' + oneSnowboardBoots.getId()}"></p>
<p th:text="${'name: ' + oneSnowboardBoots.getName()}"></p>
<p th:text="${'available: ' + oneSnowboardBoots.isAvailable()}"></p>
<p th:text="${'condition: ' + oneSnowboardBoots.getCondition()}"></p>
<p th:text="${'size: ' + oneSnowboardBoots.getSize()}"></p>
<p th:text="${'stiffness: ' + oneSnowboardBoots.getStiffness()}"></p>

</body>
</html>