<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{show_all.title}">List of Snowboard Boots</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{show_all.header}">List of Snowboard Boots</h1>

<!--Changing language-->
<p>
    <a th:href="@{/admin/info_equipment/snowboard_boots(lang=ru)}" th:text="Русский">Russian</a>
    <a th:href="@{/admin/info_equipment/snowboard_boots(lang=en)}" th:text="English">English</a>
</p>

<br/>

<!--Search-->
<form method="GET"
      th:action="@{/admin/info_equipment/snowboard_boots/search_by_name}">

    <input th:type="text" name="search" th:value="${search}" th:placeholder="#{show_all.search_placeholder}"
           style="width:200px"/>                                                                      <!--field width-->

    <input type="submit" th:value="#{show_all.search_button}"/>
</form>

<br/>

<!--Table-->
<table th:align="center"
       th:border=1 th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th>
            <a th:href="@{'/admin/info_equipment/snowboard_boots/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{show_all.table.header.id}">Id</a>
        </th>
        <th>
            <a th:href="@{'/admin/info_equipment/snowboard_boots/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{show_all.table.header.name}">Name</a>
        </th>
        <th>
            <a th:href="@{'/admin/info_equipment/snowboard_boots/sort?parameter=available&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{show_all.table.header.available}">Available</a>
        </th>
        <th>
            <a th:href="@{'/admin/info_equipment/snowboard_boots/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{show_all.table.header.condition}">Condition</a>
        </th>
        <th>
            <a th:href="@{'/admin/info_equipment/snowboard_boots/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{show_all.table.header.size}">Size</a>
        </th>
        <th>
            <a th:href="@{'/admin/info_equipment/snowboard_boots/sort?parameter=stiffness&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{show_all.table.header.stiffness}">Stiffness</a>
        </th>
        <th></th>
    </tr>
    <tr th:each="oneSnowboardBoots : ${allSnowboardBoots}">
        <td th:text="${oneSnowboardBoots.getId()}">Id</td>
        <td th:align="left"
            th:text="${oneSnowboardBoots.getName()}">Name
        </td>
        <td th:text="${oneSnowboardBoots.isAvailable()} ? #{available.true} : #{available.false}">Available</td>
        <!--выше обрати внимание - #{available.true} написано без th:text=-->
        <!--я так понял, потому что здесь подразумевается text-->
        <td th:text="#{${'equipment_condition.' + oneSnowboardBoots.getCondition()}}"
        >Condition
        </td>
        <td th:text="#{${'size.' + oneSnowboardBoots.getSize()}}">Size</td>
        <td th:text="#{${'stiffness.' + oneSnowboardBoots.getStiffness()}}">Stiffness</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info_equipment/snowboard_boots/edit/{id}(id=${oneSnowboardBoots.getId()})}">
                <button th:text="#{show_all.table.button.edit}"></button>
            </a>
        </td>
        <td>
            <form th:method="DELETE"
                  th:action="@{/admin/info_equipment/snowboard_boots/{id}(id=${oneSnowboardBoots.getId()})}">
                <input type="submit" th:value="#{show_all.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Add new-->
<a href="/admin/info_equipment/snowboard_boots/add_new">
    <button th:text="#{show_all.button.add_new}">Add new Snowboard Boots</button>
</a>

</body>
</html>