<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nikolai Khriapov">
    <title th:text="#{knee_protection.search.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{knee_protection.search.header}">?????</h1>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th th:text="#{knee_protection.search.table.header.id}">?????</th>
        <th th:text="#{knee_protection.search.table.header.name}">?????</th>
        <th th:text="#{knee_protection.search.table.header.condition}">?????</th>
        <th th:text="#{knee_protection.search.table.header.size}">?????</th>
        <th></th>
    </tr>
    <tr th:each="oneKneeProtection : ${kneeProtectionByPartOfName}">
        <td th:text="${oneKneeProtection.getId()}">?????</td>
        <td th:align="left"
            th:text="${oneKneeProtection.getName()}">?????
        </td>
        <td th:text="#{${'equipment_condition.' + oneKneeProtection.getCondition()}}">?????</td>
        <td th:text="${oneKneeProtection.getSize()}">?????</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/knee-protection/edit/{id}(id=${oneKneeProtection.getId()})}">
                <button th:text="#{knee_protection.search.table.button.edit}">?????</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/knee-protection/{id}(id=${oneKneeProtection.getId()})}">
                <input type="submit" th:value="#{knee_protection.search.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Return to "knee_protection/show_all"-->
<a href="/admin/info-equipment/knee-protection/">
    <button th:text="#{knee_protection.search.button.return}">?????</button>
</a>

</body>
</html>