<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nikolai Khriapov">
    <title th:text="#{knee_protection.show_all.title}">?????</title>
</head>
<body th:align="center">

<!--Header-->
<h1 th:text="#{knee_protection.show_all.header}">?????</h1>

<!--Search-->
<form th:method="GET"
      th:action="@{/admin/info-equipment/knee-protection/search-by-name}">

    <input th:type="text" th:name="partOfName"
           th:placeholder="#{knee_protection.show_all.search_placeholder}" style="width:200px"/>

    <input type="submit" th:value="#{knee_protection.show_all.search_button}"/>
</form>

<br/>

<!--Table-->
<table th:align="center"
       th:border="1" th:rules="rows"
       th:cellpadding="5">
    <tr>
        <th>
            <a th:href="@{'/admin/info-equipment/knee-protection/sort?parameter=id&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{knee_protection.show_all.table.header.id}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/knee-protection/sort?parameter=name&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{knee_protection.show_all.table.header.name}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/knee-protection/sort?parameter=condition&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{knee_protection.show_all.table.header.condition}">?????</a>
        </th>
        <th>
            <a th:href="@{'/admin/info-equipment/knee-protection/sort?parameter=size&sortDirection=' + ${reverseSortDirection}}"
               th:text="#{knee_protection.show_all.table.header.size}">?????</a>
        </th>
        <th></th>
    </tr>
    <tr th:each="oneKneeProtection : ${allKneeProtection}">
        <td th:text="${oneKneeProtection.getId()}">?????</td>
        <td th:align="left"
            th:text="${oneKneeProtection.getName()}">?????
        </td>
        <td th:text="#{${'equipment_condition.' + oneKneeProtection.getCondition()}}">?????</td>
        <td th:text="${oneKneeProtection.getSize()}">?????</td>
        <td th:width="50"></td>
        <td>
            <a th:href="@{/admin/info-equipment/knee-protection/edit/{id}(id=${oneKneeProtection.getId()})}">
                <button th:text="#{knee_protection.show_all.table.button.edit}">?????</button>
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/info-equipment/knee-protection/{id}(id=${oneKneeProtection.getId()})}">
                <input type="submit" th:value="#{knee_protection.show_all.table.button.delete}"/>
            </form>
        </td>
    </tr>
</table>

<br/>

<!--Add new-->
<a href="/admin/info-equipment/knee-protection/add-new">
    <button th:text="#{knee_protection.show_all.button.add_new}">?????</button>
</a>

<br/><br/>

<!--Return-->
<a href="/admin">
    <button th:text="#{knee_protection.show_all.button.return}">?????</button>
</a>

</body>
</html>